{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $git_key := "" -}}
{{- if hasKey . "git_key" -}}
{{-   $git_key = .git_key -}}
{{- else -}}
{{-   $git_key = promptString "Git signingkey (may be empty)" -}}
{{- end -}}


{{- $manage_ssh_config := promptBoolOnce . "manage_ssh_config" "Does chezmoi manage ~/.ssh/config" -}}

[completion]
    custom = true

[data]
    email = {{ $email | quote }}
    git_key = {{ $git_key | quote }}
    manage_ssh_config = {{ $manage_ssh_config }}

[diff]
{{- if lookPath "delta" }}
    command = "delta"
{{- end }}

[git]
    autoAdd = false
    autoCommit = false
    autoPush = false

encryption = "gpg"
[gpg]
    recipient = "E546CDA47D860F69FA309081748EB2577DCFCA0F"
