[alias]
	b = switch -
	co = checkout
	ci = commit
	diff = diff --ignore-space-change
	fpush = push --force-with-lease
	lg = log --pretty=format:\"%C(yellow)%h %C(cyan)%ad%Creset | [%an]%d%n%s%n\" --graph --date=short
	s = switch
	st = status -s -b
{{- if lookPath "delta" }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
{{- end }}
[push]
	default = current
[user]
	name = Jan-Lukas Wynen
	email = {{ .email }}
{{- if not (eq (len .git_key) 0) }}
	signingkey = {{ .git_key }}
{{- end }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = {{ not (eq (len .git_key) 0) }}
[pull]
	rebase = true
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[rerere]
	enabled = true

[includeIf "gitdir:~/Work"]
	path = .gitconfig.work

[includeIf "gitdir:~/Prog"]
	path = .gitconfig.private
